.container{
    text-align: center;
    background-color: aquamarine;
}

.form{
    border:1px solid #ccc;
}

.h1{
    text-align: center;
}

.p{
    text-align: center;
}

.input{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center
}

.clearfix{
    text-align: center;
}

.error {
    color: red;
}
